a {
	color: red;
	text-align: center;
}

h1, h2, h3, h4, h5, h6, h7, h8 {
	text-align: center;
	color: black;
}

p {
	text-align: centre;
	color: black;
}


table {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

li {
	text-align: center;
}